<main class="material">
  <h1>
    1 Создание линии - Алгоритм Брезенхэма
  </h1>
  <nz-row nzGutter="10">
    <nz-col nzSpan="12">
      <p>
        Цель данной главы - создать рендер с помощью проволочной сетки, для этого нужно научится рисовать отрезки.
      </p>
      <p>Для создания линии с помощью точек (пикселей) используется алгоритм Брезенхема - это алгоритм, определяющий, какие точки двумерного растра нужно закрасить, чтобы получить близкое приближение прямой линии между двумя заданными точками. Это один из старейших алгоритмов в машинной графике — он был разработан Джеком Элтоном Брезенхэмом (англ. Jack Elton Bresenham) в компании IBM в 1962 году. Алгоритм широко используется, в частности, для рисования линий на экране компьютера.</p>
      <p>

      </p>

    </nz-col>
    <nz-col nzSpan="12">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/LineBresenham.gif/336px-LineBresenham.gif" alt="">
    </nz-col>
  </nz-row>
</main>
