<main class="material">
  <h1>
    Растеризация треугольника
  </h1>
  <nz-row nzGutter="10">
    <nz-col nzSpan="24">
      <p>
        В прошлый раз мы нарисовали проволочную сетку трёхмерной модели, в этот раз мы зальём полигоны. Точнее, треугольники, так как практически любой полигон триангулирован.
      </p>
      <p>Начальный код будет выглядеть следующим образом:</p>
      <pre><code [languages]="['c++']" [highlight]="code1"></code></pre>
      <p>В этом коде всё просто: даётся три треугольника для начальной отладки вашего кода; если внутри функции triangle просто сделать вызов line(), то получим контур треугольника</p>
      <div class="img-wrapper">
        <img src="/assets/img/rast_1.png" alt="">
        <nz-row nzJustify="center">
          <nz-col>
            Рисунок 2.1 - Контуры треугольников.
          </nz-col>
        </nz-row>
      </div>
      <p>Теперь необходимо создать заполненный треугольник, хороший метод отрисовки треугольника должен обладать следующими свойствами:</p>
      <ul>
        <li>Он должен быть простым и быстрым</li>
        <li>Он должен быть симметричным: картинка не должна зависеть от порядка вершин, переданных в функцию отрисовки</li>
        <li>Если два треугольника имеют две общие вершины, между ними не должно быть дырок из-за округлений растеризации.</li>
      </ul>
      <h2>Разбор алгоритма</h2>
      <p>Давайте предположим, что у нас есть три точки треугольника, t0, t1, t2, они отсортированы по возрастанию y-координаты.
        Тогда граница А будет между t0 и t2, граница Б будет между t0 и t1, а затем между t1 и t2.
      </p>
      <pre><code [languages]="['c++']" [highlight]="code2"></code></pre>
      <div class="img-wrapper">
        <img src="/assets/img/rast_2.png" alt="">
        <nz-row nzJustify="center">
          <nz-col>
            Рисунок 2.2 - Граница А нарисована красным, а граница Б зелёным.
          </nz-col>
        </nz-row>
      </div>
      <p>
        Давайте отрисуем нижнюю половину треугольника, разрезав его по горизонтали в точке излома границы Б.
      </p>
      <pre><code [languages]="['c++']" [highlight]="code3"></code></pre>
      <div class="img-wrapper">
        <img src="/assets/img/rast_3.png" alt="">
        <nz-row nzJustify="center">
          <nz-col>
            Рисунок 2.3 - Разрывные линии.
          </nz-col>
        </nz-row>
      </div>
      <p>Если мы соединим горизонтальными линиями соответствующие пары точек, то пробелы пропадут:</p>
      <div class="img-wrapper">
        <img src="/assets/img/rast_4.png" alt="">
        <nz-row nzJustify="center">
          <nz-col>
            Рисунок 2.4
          </nz-col>
        </nz-row>
      </div>
      <p>Теперь осталось отрисовать вторую половину треугольника. Это можно сделать, добавив второй цикл:</p>
      <pre><code [languages]="['c++']" [highlight]="code4"></code></pre>
      <div class="img-wrapper">
        <img src="/assets/img/rast_5.png" alt="">
        <nz-row nzJustify="center">
          <nz-col>
            Рисунок 2.5 - Залитые треугольники
          </nz-col>
        </nz-row>
      </div>
      <h2>Задание</h2>
      <h3>1. Создать рендер предложенной модели бутылки, либо любой другой модели с помощью закрашенных треугольников используя изученный алгоритм</h3>
      <h4>Начальный код:</h4>
      <pre><code [languages]="['c++']" [highlight]="code5"></code></pre>
      <div class="img-wrapper">
        <img src="assets/img/rast_6.png" alt="">
        <nz-row nzJustify="center">
          <nz-col>
            Рисунок 2.6 - Пример выполненного задания 1
          </nz-col>
        </nz-row>
      </div>
    </nz-col>
  </nz-row>
</main>
