<nz-layout class="main">
  <nz-layout>
    <nz-sider nzWidth="380px">
      <div></div>
      <ul nz-menu nzMode="inline">
        <li nz-menu-item routerLink="/introduction">
          <span>Введение</span>
        </li>
        <li nz-menu-item routerLink="/line">
          <span>Создание линии</span>
        </li>
        <li nz-menu-item>
          <span>Растеризация</span>
        </li>
        <li nz-submenu nzTitle="subnav 2">
          <ul>
            <li nz-menu-item>option5</li>
            <li nz-menu-item>option6</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="subnav 3">
          <ul>
            <li nz-menu-item>option9</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-row nzJustify="center">
        <nz-col nzSpan="12">
          <router-outlet></router-outlet>
        </nz-col>
      </nz-row>
    </nz-layout>
  </nz-layout>
</nz-layout>
